{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}TOP{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
    {# 背景動画を表示させるスタイルを読み込みます。#}
    <link href="/assets/css/video.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header text-center">
                <h1 style="font-size: 80px;color: black;border-radius: 10px;background: rgba(255, 255, 128, .5);">エンター合コン</h1>

            <div class="page-header text/right">


              <div style="float:Left">

              <h1 input type="button" onclick="location.href = '/join_group/'
              "style="font-size: 50px; width:400px;height:120px;border-radius: 10px;"> 合コンに参加！<br>好みの条件で検索</h1>


          </div>
        </div>

            <div style="float:right">
            <div class="page-header text/left">
                  <h1 input type="button" onclick="location.href = '/make_group/s'
                  "style="font-size: 50px; width:400px;height:250;border-radius: 10px"> 合コンを開く！<br>好みの条件で検索</h1>
                </div>
              </div>

          <div class="box">
>>>>>>> kikkawa
                <div class="row">
                    <div class="col-md-12">
                      <body background="/assets/img/top_image.jpg" ></body>
                        <div id="filter">
                        </div>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-primary" type="submit">合コンに参加</button>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 mx-auto">
                      <button class="btn btn-primary" type="submit">合コンを開く</button>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
